**/.git
**/.gitignore
**/.vs
**/.idea
**/bin
**/obj
**/Data/attachments
**/Data/backups
/data
**/*.db
**/*.db-shm
**/*.db-wal
**/appsettings.Development.json
**/node_modules
**/Thumbs.db
**/.DS_Store
**/tests
**/*.md
**/LICENSE
